$font-size: 16px;                                              // 16 pixels
$font-size-large: 1.5 * $font-size;                            // 24 pixels
$leading: 1.5 * $font-size;                                    // 24 pixels
$leading-large: 2.25 * $font-size;                             // 36 pixels
$grid-width: 3.75 * $font-size;                                // 60 pixels
$grid-gutter: 1.25 * $font-size;                               // 20 pixels
$width-body: (12 * ($grid-width + $grid-gutter));              // 960 pixels

// colors
$green: #BCDEFF;
$brighter-green: #7AA7DA;
$red: #FFBB93;
